[Match]
Name=cghmn_wg

[Network]
LLDP=no
IPv6AcceptRA=no

[Address]
#Address=172.16.0.0/32

[Route]
Destination=172.23.0.0/16

[Route]
Destination=100.89.128.0/22

[Route]
Destination=100.96.0.0/13
