[Match]
Name=retro_lan

[Network]
LLDP=no
IPv6AcceptRA=no
IPv6SendRA=no
DHCPServer=yes

[Address]
Address=192.168.134.1/24

[DHCPServer]
PoolOffset=100
PoolSize=100
DefaultLeaseTimeSec=12h
EmitDNS=yes
UplinkInterface=:self
PersistLeases=no
